"*":
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "bracket-matcher"
    ]
    themes: [
      "zenburn-ui"
      "zenburn"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "67ff6b20-e45c-6500-a4d3-a07390c26b80"
  "git-plus": {}
  "go-plus": {}
  swackets: {}
  welcome:
    showOnStartup: false
