"*":
  "exception-reporting":
    userId: "67ff6b20-e45c-6500-a4d3-a07390c26b80"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
    disabledPackages: [
      "bracket-matcher"
    ]
  editor:
    invisibles: {}
    fontFamily: "Inconsolata"
    showIndentGuide: true
    lineHeight: 1.2
    fontSize: 12
  "git-plus": {}
  swackets: {}
  "bracket-matcher":
    autocompleteSmartQuotes: false
    autocompleteBrackets: false
  "go-plus": {}
