"*":
  "exception-reporting":
    userId: "67ff6b20-e45c-6500-a4d3-a07390c26b80"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "atom-monokai"
    ]
  editor:
    invisibles: {}
    fontFamily: "Consolas"
    showIndentGuide: true
    lineHeight: 1.2
    fontSize: 12
  "git-plus": {}
